@layer components {
  .button {
    @apply font-bold p-2 rounded-md;
  }
  .button-yellow {
    @apply bg-yellow-300 hover:bg-yellow-400 focus:bg-yellow-500;
  }
  .button-green {
    @apply bg-green-300 hover:bg-green-400 focus:bg-green-500;
  }
  .button-red {
    @apply bg-red-300 hover:bg-red-400 focus:bg-red-500;
  }
  .infoBlock {
    @apply bg-gray-200 hover:bg-gray-300 rounded-md px-2 m-2 font-bold flex items-center justify-center;
  }
  .panelWidth {
    @apply w-full lg:w-2/3 xm:w-2/4 3xl:w-2/5;
  }
  .lobbyOptInput {
    @apply p-1 text-black bg-white rounded-md;
  }
}

.copyCode {
  position: relative;
  display: inline-block;
}

.copyCode .toolTipText {
  visibility: hidden;
  width: 140px;
  background-color: #e5e7eb;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -75px;
  left: 45px;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.copyCode .toolTipText::after {
  content: '';
  position: absolute;
  top: -10px;
  left: 70px;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #e5e7eb transparent;
}

.copyCode:hover .toolTipText {
  visibility: visible;
  opacity: 1;
}
